.content {
    width: 100%;
    position: relative;
    background-color: #fdfdfd;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 24px;
    box-sizing: border-box;
    gap: 24px;
    text-align: left;
    font-size: 14px;
    color: #111217;
    font-family: Inter;
    }

    .contentList {
        width: 100%;
        position: relative;

        height: 600px;
  
        display: flex;
        overflow: scroll;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        /* padding: 24px; */
        box-sizing: border-box;
        /* gap: 24px; */
        
        }