.buttonLabel {
    position: relative;
    line-height: 22px;
    font-weight: 600;
}
.pill4 {
    border-radius: 24px;
    background-color: #02894b;
    height: 34px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 6px 16px;
    box-sizing: border-box;
    color: #fafafa;
}
.buttonLabel1 {
    position: relative;
    line-height: 22px;
}
.pill5 {
    border-radius: 24px;
    background-color: #f4f5f7;
    height: 34px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 6px 16px;
    box-sizing: border-box;
}
.pill8 {
    border-radius: 24px;
    background-color: #f4f5f7;
    height: 34px;
    overflow: hidden;
    display: none;
}
.pillParent {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
    text-align: left;
    font-size: 14px;
    color: #666f89;
    font-family: Inter;
}

.basicThriftPlan1 {
    flex: 1;
    position: relative;
    letter-spacing: -0.01em;
    line-height: 23px;
    font-weight: 600;
}
.icons1 {
    position: relative;
    width: 24px;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
}
.basicThriftPlanParent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}
.created {
    position: relative;
    line-height: 18px;
}
.july1420232 {
    flex: 1;
    position: relative;
    line-height: 18px;
    color: #111217;
}
.createdParent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4px;
    font-size: 12px;
    color: #666f89;
}
.frameParent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 8px;
    font-size: 20px;
}
.div {
    position: relative;
    line-height: 22px;
    font-weight: 600;
}
.info2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4px;
}
.info2Parent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
}
.targetRemitmonthly {
    align-self: stretch;
    position: relative;
    font-size: 12px;
    line-height: 18px;
    color: #666f89;
}
.progressBarChild {
    align-self: stretch;
    flex: 1;
    position: relative;
    background: linear-gradient(90deg, #02894b, #3d503a);
}
.progressBar {
    flex: 1;
    border-radius: 1000px;
    height: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}
.div4 {
    position: relative;
    font-weight: 500;
}
.progress {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 12px;
    color: #02894b;
}
.thriftplan {
    align-self: stretch;
    background-color: #fdfdfd;
    box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1), 0px 1px 2px -1px rgba(16, 24, 40, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 20px;
    gap: 16px;
}
.startDate {
    position: relative;
    line-height: 22px;
}
.july1420233 {
    flex: 1;
    position: relative;
    line-height: 22px;
    color: #111217;
}
.startDateParent {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4px;
}
.completed {
    position: relative;
    line-height: 16px;
    text-transform: uppercase;
    font-weight: 500;
}
.bagde {
    border-radius: 20px;
    background-color: #b5fedc;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 4px 8px;
    font-size: 10px;
    color: #016236;
}
.bottom {
    align-self: stretch;
    background-color: #fdfdfd;
    border-top: 0.5px solid #c3c6d2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 16px 20px;
    gap: 10px;
    color: #666f89;
}
.thriftplanCard {
    flex: 1;
    /* width: 100%; */
    position: relative;
    border-radius: 10px;
    background: linear-gradient(90deg, #02894b, #3d503a);
    border: 0.5px solid #c3c6d2;
    box-sizing: border-box;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    font-size: 14px;
    color: #111217;
    font-family: Inter;
}

.thriftplanCardParent {
    /* width: 100%; */
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
    text-align: left;
    font-size: 14px;
    color: #111217;
    font-family: Inter;
    }