/* .dateRange {
    border: 1px solid #C3C6D2;
    background-color: white;
    width: 12%;
    padding: 0px 10px;
    border-radius: 5px;
    
    display: grid;
} */
/* .dateRange select {
    width: 100%;
    place-self: center;
    padding: 7px 0;
    padding-right: -100px;
    font-weight: 600;
    margin-right: 5px;
    outline: none;
    border: none;
} */

/* .dateRange .option {
    overflow: hidden;
    width: 500px;
    margin-top: 10px;
    background-color: aqua;
} */

/* .zz {
    background-color:pink;
} */

/* .dateRange input {
    outline: none;
} */

.frameparent {
    padding:24px;
     /* display: flex;
     flex-direction: column;
     gap: 16px;
     align-items: flex-start;
     justify-content: flex-start;
     align-self: stretch;
    flex-shrink: 0; */
    width: 100%;
    flex-grow: 1;
    overflow-y: scroll;
    background: var(--BG-Medium, #F4F5F7);
    /* font-family: "Urbanist"; */
    /* overflow-x: scroll; */
  
    }

.overview {
    width: 100%;
    /* height: 300px; */
    /* background-color:tomato; */
    margin-top: 20px;
    display: flex;
    gap: 15px;
    /* justify-content: space-between; */

}

.overview > div {
    width:50%;
    /* height: 200px; */
    
    /* background-color:purple; */
    
}


.overview > div:first-child {
    display: grid;
    /* background-color: aqua; */
    grid-template-columns: repeat(2,49%);
    grid-template-rows: repeat(2,147.65px);
    gap: 10px;

}

.overview > div:last-child {
    padding: 25px;
    /* width:50%; */
    /* background-color: rgb(12, 223, 223); */
    
    /* border: 1px solid #C3C6D2; */
    border-radius: 15px;
    background: var(--BG-White, #FFF);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.05);
    display: grid;
    align-items: center;
    
    
}



.walletActivities {
    width: 100%;
    /* border-radius:25px; */
    display: flex;
    margin-top:20px;
    gap: 15px;
    /* height: 300px; */
    /* background-color: palevioletred; */
}
.wallet {
    width: 65%;
    /* height: 100%; */
    /* border: 1px solid #C3C6D2;
    border-radius: 15px; */
    padding: 20px;
    border-radius: 15px;
    background: var(--BG-White, #FFF);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.05);
    /* background-color: slateblue; */
}

/* .ccc {
    background-color: brown;
} */

.walletHeader {
    /* background-color: slategray; */
    display: flex;
    justify-content: space-between;
    /* height: 100px; */
}
.walletHeader > div:first-of-type {
    display: flex;
    /* background-color: purple; */
    align-items: center;
    gap:  20px;
}
.walletHeader > div:first-of-type p {
    /* background-color:pink; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;

}

.balText {
    font-size:12px;
    font-weight: 400;
    color: #90949E;
    /* font-family: Urbanist; */
    font-style: normal;
    line-height: 18px;
}

.balance {
    font-weight: 600;
    font-size:22px;
    /* font-family: "Urbanist"; */
    font-style: normal;
    line-height: 18px;
}

.walletHeader > div:last-of-type {
    /* background-color:yellow; */
    display: flex;
    gap: 20px;
}

.flowContainer {
    width: 100%;
    height: 60px;
    /* background-color: yellow; */
    display: flex;
    gap: 20px;
    margin-top: 20px;
    
}


.activities {
    width:35%;
    border-radius: 15px;
    background: var(--BG-White, #FFF);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.05);
    padding: 20px;
    /* height: fit-content; */
}

.activitiesHeader {
    /* background-color:yellow; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
}

.activitiesHeader > span:first-of-type {
    font-weight:600;
    font-size: 16px;
}
.activitiesHeader > span:last-of-type {
    padding-top:7px;
    font-weight:600;
    font-size: 12px;
    color: #444A5B;
    cursor: pointer;
}

.activitiesContent {
    /* background-color: purple; */
    display: flex;
    flex-direction: column;
    gap: 15px;
}