.link {
    /* background-color:yellow; */
    width: 100%;
    height:40px;
    display: flex;
    position: relative;
    /* column-gap: 20px; */
    border-radius:0 5px 5px 0;
    color: #897566;
}


.navItem {
    width: 80%;
    height:100%;
    /* background-color: rgb(244, 50, 50); */
    display: flex;
    column-gap: 20px;
    /* padding-left:33px; */
    font-size:14px;
    font-weight: 400;
    cursor: pointer;
    position: absolute;
    left: 33px;
    /* color: #0B53CB; */
    /* z-index: 1000; */
}

/* .navItem:hover {
    
} */


.navItem span {
    /* background-color:purple; */
     /* height: fit-content; */
     display: grid;
     place-items: center;
}


   .active::before {
      content: "";
      display: block;
      background-color:#0B53CB;
      width: 5px;
      height: 70%;
      border-radius:0 5px 5px 0;
      position: absolute;
      top:50%;
      transform: translateY(-50%);
  }
  
  .active {
      background-color:#EDF9FF;
      color: #0B53CB;
  }
