.checkboxChild {
    position: absolute;
    height: 83.33%;
    width: 83.33%;
    top: 8.33%;
    right: 8.33%;
    bottom: 8.33%;
    left: 8.33%;
    border-radius: 3px;
    background-color: #fff;
    border: 2px solid #c3c6d2;
    box-sizing: border-box;
}
.checkbox {
    position: relative;
    width: 20px;
    height: 20px;
}
.avatarsIcon1 {
    position: relative;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
}
.text5 {
    position: relative;
    line-height: 20px;
    font-weight: 500;
}
.supportingText1 {
    position: relative;
    font-size: 12px;
    line-height: 18px;
    color: #90949e;
}
.textAndSupportingText1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.tableCell {
    flex: 1;
    background-color: #fdfdfd;
    height: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 16px;
    box-sizing: border-box;
    gap: 12px;
    font-size: 14px;
    color: #111217;
}
.div {
    position: relative;
    line-height: 18px;
}
.tableCell1 {
    width: 140px;
    height: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 16px;
    box-sizing: border-box;
}
.completed {
    position: relative;
    line-height: 16px;
    text-transform: uppercase;
    font-weight: 500;
}
.bagde {
    border-radius: 20px;
    background-color: #b5fedc;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 4px 8px;
}

.pending {
    position: relative;
    line-height: 16px;
    text-transform: uppercase;
    font-weight: 500;
    }
    .bagdeInactive {
        border-radius: 20px;
        background-color: #e4e5eb;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 4px 8px;
        color: #444a5b;

    }
.tableCell2 {
    width: 140px;
    height: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 16px;
    box-sizing: border-box;
    font-size: 10px;
    color: #016236;
}
.tableCell3 {
    width: 160px;
    height: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 16px;
    box-sizing: border-box;
}
.div3 {
    flex: 1;
    position: relative;
    line-height: 18px;
}
.tableCell5 {
    width: 140px;
    height: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 16px;
    box-sizing: border-box;
    text-align: center;
}
.n20000 {
    position: relative;
    line-height: 18px;
    font-weight: 600;
}
.tableCell6 {
    width: 120px;
    height: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 16px;
    box-sizing: border-box;
}
.thriftplanCard {
    width: 100%;
    position: relative;
    background-color: #fdfdfd;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    font-size: 12px;
    color: #444a5b;
    font-family: Inter;
    cursor: pointer;
}

.initial {
    position: absolute;
    top: calc(50% - 11px);
    left: calc(50% - 11px);
    line-height: 22px;
    font-weight: 500;
    }
    .avatars {
    width: 40px;
    height: 40px;
    position: relative;
    border-radius: 50px;
    background-color: #b347ff;
    height: 40px;
    text-align: center;
    font-size: 14px;
    color: #fafafb;
    font-family: "Urbanist";
    }

