.icons {
    width: 24px;
    position: relative;
    height: 24px;
    /* overflow: hidden; */
    flex-shrink: 0;
    background: #d9dae4;
}
.johnDoeElectricity {
    position: relative;
    letter-spacing: -0.01em;
    line-height: 23px;
    font-weight: 600;
}
.menuAndName {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 40px;
}
.publishIcon {
    width: 32px;
    position: relative;
    height: 32px;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: contain;
}
.printIcon {
    width: 32px;
    position: relative;
    height: 32px;
    overflow: hidden;
    flex-shrink: 0;
}
.downloadPrintMore {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
}
.header {
    width: 1440px;
    background-color: #111217;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 64px;
    box-sizing: border-box;
    z-index: 0;
}
.digitalMarketingServicesAgr {
    width: 612px;
    position: relative;
    height: 792px;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
}
.pages {
    height: 916px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    z-index: 1;
}
.page {
    position: relative;
    line-height: 24px;
    font-weight: 600;
}
.pageParent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;
}
.pagezoomChild {
    align-self: stretch;
    width: 1px;
    position: relative;
    border-right: 1px solid #e4e5eb;
    box-sizing: border-box;
}
.icons1 {
    width: 20px;
    position: relative;
    height: 20px;
    overflow: hidden;
    flex-shrink: 0;
}
.pagezoom {
    margin: 0 !important;
    position: absolute;
    bottom: 32px;
    left: calc(50% - 125px);
    border-radius: 10px;
    background-color: rgba(17, 18, 23, 0.8);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 20px;
    gap: 16px;
    z-index: 2;
    font-size: 16px;
}
.viewPdf {
    position: relative;
    width: 100%;
    height: 1036px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    text-align: left;
    font-size: 20px;
    color: #fff;
    font-family: Urbanist;
}

