  /* dashboard-slider style */


  /* .bg {
    width: 256px;
     height: 1234px;
     position: absolute;
     left: 0px;
    top: 0px;
    }
 
 .user-account {
    position: absolute;
     inset: 0;
    }
 
 .group-105 {
    width: 216px;
     height: 41px;
     position: static;
    }
 
 .avatar {
    border-radius: 8px;
     height: 40px;
     position: absolute;
     right: 196px;
     left: 20px;
    bottom: 41px;
    }
 
 .name-position {
    width: 93px;
     height: 21px;
     position: static;
    }
 
 .eleanor-pena {
    color: var(--text-50, #fafafb);
     text-align: right;
     font: 600 14px 'Poppins', sans-serif;
     position: absolute;
     right: 93px;
     left: 70px;
    bottom: 60px;
     display: flex;
    align-items: center;
    justify-content: flex-end}
 
 .name-position2 {
    width: 40px;
     height: 18px;
     position: static;
    }
 
 .admin {
    color: var(--text-100, #c3c6d2);
     text-align: left;
     font: 400 12px 'Poppins', sans-serif;
     position: absolute;
     right: 146px;
     left: 70px;
    bottom: 40px;
     display: flex;
    align-items: center;
    justify-content: flex-start}
 
 .icon-arrow-down {
    position: absolute;
     left: 212px;
    top: 934px;
     overflow: visible;
    }
 
 .frame-25 {
    display: flex;
     flex-direction: column;
     gap: 56px;
     align-items: flex-start;
     justify-content: flex-start;
     position: absolute;
     right: 0px;
     left: 0px;
    top: 0px;
    }
 
 .frame-24 {
    padding: 36px 36px 0px 36px;
     display: flex;
     flex-direction: column;
     gap: 10px;
     align-items: flex-start;
     justify-content: flex-start;
     align-self: stretch;
    flex-shrink: 0;
     position: relative;
    }
 
 .logo {
    display: flex;
     flex-direction: row;
     gap: 16px;
     align-items: center;
     justify-content: flex-start;
     flex-shrink: 0;
     position: relative;
    }
 
 .dreallogo-1-2 {
    flex-shrink: 0;
     width: 44.4px;
     height: 48px;
     position: relative;
     overflow: hidden;
    }
 
 .layer-x-0020-1 {
    position: absolute;
     left: 0px;
    top: 0px;
     overflow: visible;
    }
 
 .deal-thrift {
    color: var(--text-50, #fafafb);
     text-align: left;
     font: var(--heading-h-4, 600 20px/23px 'Inter', sans-serif);
     position: relative;
     display: flex;
    align-items: center;
    justify-content: flex-start}
 
 .frame-23 {
    padding: 0px 20px 0px 0px;
     display: flex;
     flex-direction: column;
     gap: 24px;
     align-items: flex-start;
     justify-content: flex-start;
     align-self: stretch;
    flex-shrink: 0;
     position: relative;
    }
 
 .sidebar-item {
    background: var(--text-400, #444a5b);
     border-radius: 0px 8px 8px 0px;
     display: flex;
     flex-direction: row;
     gap: 36px;
     align-items: center;
     justify-content: flex-start;
     align-self: stretch;
    flex-shrink: 0;
     position: relative;
     cursor: pointer;
    }
 
 .rectangle-306 {
    background: var(--text-50, #fafafb);
     border-radius: 0px 11px 11px 0px;
     flex-shrink: 0;
     width: 5px;
     height: 30px;
     position: relative;
    }
 
 .frame-2 {
    padding: 8px 12px 8px 0px;
     display: flex;
     flex-direction: row;
     gap: 20px;
     align-items: center;
     justify-content: flex-start;
     flex: 1;
     position: relative;
    }
 
 .icons {
    flex-shrink: 0;
     position: relative;
     overflow: visible;
    }
 
 .dashboard {
    color: var(--text-50, #fafafb);
     text-align: left;
     font: var(--body-b-2-semi-bold, 600 14px/22px 'Inter', sans-serif);
     position: relative;
     flex: 1;
     display: flex;
    align-items: center;
    justify-content: flex-start}
 
 .sidebar-item2 {
    background: var(--text-500, #111217);
     border-radius: 0px 8px 8px 0px;
     display: flex;
     flex-direction: row;
     gap: 36px;
     align-items: center;
     justify-content: flex-start;
     align-self: stretch;
    flex-shrink: 0;
     position: relative;
     cursor: pointer;
    }
 
 .rectangle-3062 {
    background: var(--text-50, #fafafb);
     border-radius: 0px 11px 11px 0px;
     opacity: 0;
     flex-shrink: 0;
     width: 5px;
     height: 30px;
     position: relative;
    }
 
 .icons2 {
    flex-shrink: 0;
     position: relative;
     overflow: visible;
    }
 
 .thrift-plans {
    color: var(--text-50, #fafafb);
     text-align: left;
     font: var(--body-b-2-regular, 400 14px/22px 'Inter', sans-serif);
     position: relative;
     flex: 1;
     display: flex;
    align-items: center;
    justify-content: flex-start}
 
 .icons3 {
    flex-shrink: 0;
     position: relative;
     overflow: visible;
    }
 
 .wallets {
    color: var(--text-50, #fafafb);
     text-align: left;
     font: var(--body-b-2-regular, 400 14px/22px 'Inter', sans-serif);
     position: relative;
     flex: 1;
     display: flex;
    align-items: center;
    justify-content: flex-start}
 
 .icons4 {
    flex-shrink: 0;
     position: relative;
     overflow: visible;
    }
 
 .kyc {
    color: var(--text-50, #fafafb);
     text-align: left;
     font: var(--body-b-2-regular, 400 14px/22px 'Inter', sans-serif);
     position: relative;
     flex: 1;
     display: flex;
    align-items: center;
    justify-content: flex-start}
 
 .icons5 {
    flex-shrink: 0;
     position: relative;
     overflow: visible;
    }
 
 .customers {
    color: var(--text-50, #fafafb);
     text-align: left;
     font: var(--body-b-2-regular, 400 14px/22px 'Inter', sans-serif);
     position: relative;
     flex: 1;
     display: flex;
    align-items: center;
    justify-content: flex-start}
 
 .icons6 {
    flex-shrink: 0;
     position: relative;
     overflow: visible;
    }
 
 .profile {
    color: var(--text-50, #fafafb);
     text-align: left;
     font: var(--body-b-2-regular, 400 14px/22px 'Inter', sans-serif);
     position: relative;
     flex: 1;
     display: flex;
    align-items: center;
    justify-content: flex-start}
  */




  .sidebar, .sidebar * {
    box-sizing: border-box;
    }
.sidebar {
   background: var(--text-500, #111217);
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
   }

.frame-25 {
   background: var(--text-500, #111217);
    display: flex;
    flex-direction: column;
    gap: 56px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
   flex-shrink: 0;
    width: 256px;
    position: relative;
   }

.logo {
   padding: 36px 36px 0px 36px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
   flex-shrink: 0;
    position: relative;
   }

.logo2 {
   display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
   }

.dreallogo-1-2 {
   flex-shrink: 0;
    width: 44.4px;
    height: 48px;
    position: relative;
    overflow: hidden;
   }

.layer-x-0020-1 {
   position: absolute;
    left: 0px;
   top: 0px;
    overflow: visible;
   }

.deal-thrift {
   color: var(--text-50, #fafafb);
    text-align: left;
    font: var(--heading-h-4, 600 20px/23px 'Inter', sans-serif);
    position: relative;
    display: flex;
   align-items: center;
   justify-content: flex-start}

.nav {
   padding: 0px 0px 40px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    align-self: stretch;
   flex: 1;
    position: relative;
   }

.top {
   padding: 0px 20px 0px 0px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
   flex-shrink: 0;
    position: relative;
   }

.sidebar-item {
   background: var(--text-400, #444a5b);
    border-radius: 0px 8px 8px 0px;
    display: flex;
    flex-direction: row;
    gap: 36px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
   flex-shrink: 0;
    position: relative;
   }

.rectangle-306 {
   background: var(--text-50, #fafafb);
    border-radius: 0px 11px 11px 0px;
    flex-shrink: 0;
    width: 5px;
    height: 30px;
    position: relative;
   }

.frame-2 {
   padding: 8px 12px 8px 0px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    position: relative;
   }

.icons {
   flex-shrink: 0;
    position: relative;
    overflow: visible;
   }

.dashboard {
   color: var(--text-50, #fafafb);
    text-align: left;
    font: var(--body-b-2-semi-bold, 600 14px/22px 'Inter', sans-serif);
    position: relative;
    flex: 1;
    display: flex;
   align-items: center;
   justify-content: flex-start;
   cursor: pointer;
   
}

.sidebar-item2 {
   background: var(--text-500, #111217);
    border-radius: 0px 8px 8px 0px;
    display: flex;
    flex-direction: row;
    gap: 36px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
   flex-shrink: 0;
    position: relative;
   }

.rectangle-3062 {
   background: var(--text-50, #fafafb);
    border-radius: 0px 11px 11px 0px;
    opacity: 0;
    flex-shrink: 0;
    width: 5px;
    height: 30px;
    position: relative;
   }

.icons2 {
   flex-shrink: 0;
    position: relative;
    overflow: visible;
   }

.thrift-plans {
   color: var(--text-50, #fafafb);
    text-align: left;
    font: var(--body-b-2-regular, 400 14px/22px 'Inter', sans-serif);
    position: relative;
    flex: 1;
    display: flex;
   align-items: center;
   justify-content: flex-start;
   cursor: pointer;}

.icons3 {
   flex-shrink: 0;
    position: relative;
    overflow: visible;
   }

.wallets {
   color: var(--text-50, #fafafb);
    text-align: left;
    font: var(--body-b-2-regular, 400 14px/22px 'Inter', sans-serif);
    position: relative;
    flex: 1;
    display: flex;
   align-items: center;
   justify-content: flex-start;
   cursor: pointer;}

.icons4 {
   flex-shrink: 0;
    position: relative;
    overflow: visible;
   }

.kyc {
   color: var(--text-50, #fafafb);
    text-align: left;
    font: var(--body-b-2-regular, 400 14px/22px 'Inter', sans-serif);
    position: relative;
    flex: 1;
    display: flex;
   align-items: center;
   justify-content: flex-start}

.icons5 {
   flex-shrink: 0;
    position: relative;
    overflow: visible;
   }

.customers {
   color: var(--text-50, #fafafb);
    text-align: left;
    font: var(--body-b-2-regular, 400 14px/22px 'Inter', sans-serif);
    position: relative;
    flex: 1;
    display: flex;
   align-items: center;
   justify-content: flex-start;
   cursor: pointer;}

.rectangle-3063 {
   background: var(--error-300, #fa8080);
    border-radius: 0px 11px 11px 0px;
    opacity: 0;
    flex-shrink: 0;
    width: 5px;
    height: 30px;
    position: relative;
   }

.icons6 {
   flex-shrink: 0;
    position: relative;
    overflow: visible;
   }

.customers2 {
   color: var(--error-300, #fa8080);
    text-align: left;
    font: var(--body-b-2-regular, 400 14px/22px 'Inter', sans-serif);
    position: relative;
    flex: 1;
    display: flex;
   align-items: center;
   justify-content: flex-start}