.card {
    /* width: 49%; */
    /* height:147.65px; */
    /* background-color: tomato; */
    display: flex;
    padding: 15px;
    /* border: 1px solid #C3C6D2;
    border-radius: 10px; */
    justify-content: space-between;
    border-radius: 15px;
    background: var(--BG-White, #FFF);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.05);
}

.dashboardCard, .overviewCard {
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dashboardCard > img {
    width:40px;
    height: 40px;
    /* background-color: pink; */
}

.overviewCard > img {
    width:32px;
    height: 32px;
    /* background-color: pink; */
}

.title {
    font-size: 10px;
    /* background-color: white; */
    font-weight:400;
    color: #666F89;
}

.dashboardCard > span:last-of-type {
    font-size: 22px;
    font-weight:600;
    /* background-color: purple; */
}


.overviewCard > span:last-of-type {
    font-size: 10px;
    font-weight:600;
    /* margin: 0; */
    /* background-color: purple; */
    /* height: fit-content; */
    line-height: 1;

}




.right{
    /* background-color: purple; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 15px;
}



.period {
    font-size: 10px;
    font-weight: 400;
    color: #90949E;
}

