/* .dreallogo1-2-icon {
    position: relative;
    width: 88.8px;
    height: 96px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .dealthrift {
    position: relative;
    letter-spacing: -0.02em;
    line-height: 40px;
    font-weight: 600;
  }
  .logo {
    position: absolute;
    top: calc(50% - 48px);
    left: calc(50% - 126.7px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }
  .image {
    position: relative;
    background-color: #c36;
    width: 481px;
    height: 1024px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .get-started-by,
  .sign-up {
    align-self: stretch;
    position: relative;
  }
  .sign-up {
    letter-spacing: -0.02em;
    line-height: 40px;
    font-weight: 600;
  }
  .get-started-by {
    font-size: 16px;
    line-height: 24px;
    color: #444a5b;
  }
  .content-inner,
  .sign-up-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .sign-up-parent {
    gap: 16px;
  }
  .content-inner {
    font-size: 32px;
    color: #111217;
  }
  .input,
  .label {
    position: relative;
    line-height: 24px;
  }
  .label {
    align-self: stretch;
  }
  .input {
    flex: 1;
  }
  .field,
  .inputtext {
    align-self: stretch;
    display: flex;
    justify-content: flex-start;
  }
  .field {
    border-radius: 8px;
    background-color: #fafafb;
    border: 1px solid #d3d6de;
    box-sizing: border-box;
    height: 48px;
    flex-direction: row;
    padding: 16px;
    align-items: center;
    color: #90949e;
  }
  .inputtext {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }
  .icons {
    position: relative;
    width: 16px;
    height: 16px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .field3 {
    align-self: stretch;
    border-radius: 8px;
    background-color: #fafafb;
    border: 1px solid #d3d6de;
    box-sizing: border-box;
    height: 48px;
    display: flex;
    flex-direction: row;
    padding: 16px;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
  }
  .this-is-a {
    flex: 1;
    position: relative;
    line-height: 22px;
  }
  .field-parent,
  .hint-field,
  .inputtext-parent {
    align-self: stretch;
    display: flex;
    justify-content: flex-start;
  }
  .hint-field {
    flex-direction: row;
    padding: 8px;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: #444a5b;
  }
  .field-parent,
  .inputtext-parent {
    flex-direction: column;
    align-items: flex-start;
  }
  .field-parent {
    color: #90949e;
  }
  .inputtext-parent {
    gap: 24px;
  }
  .button1 {
    position: relative;
    line-height: 24px;
    font-weight: 600;
  }
  .button {
    align-self: stretch;
    border-radius: 8px;
    background-color: #c36;
    display: flex;
    flex-direction: row;
    padding: 12px 36px;
    align-items: center;
    justify-content: center;
    color: #fafafb;
  }
  .already-have-an,
  .login {
    position: relative;
    line-height: 24px;
  }
  .login {
    font-weight: 600;
    color: #c36;
  }
  .already-have-an-account-parent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 8px;
  }
  .content,
  .sign-upempty {
    background-color: #fff;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
  }
  .content {
    width: 959px;
    flex-shrink: 0;
    flex-direction: column;
    padding: 64px 200px;
    box-sizing: border-box;
    justify-content: center;
    gap: 40px;
    font-size: 16px;
    color: #444a5b;
  }
  .sign-upempty {
    position: relative;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    text-align: left;
    font-size: 32px;
    color: #fafafb;
    font-family: Inter;
    #111217
  } */



  





 






  