.overview {
    width: 100%;
    /* padding: 25px; */
    /* background-color: rgb(12, 223, 223); */
    display: flex;
    /* justify-content: space-between; */
    gap:30px;
    align-content: center;
    /* border: 1px solid #C3C6D2; */
    /* border-radius: 10px; */
    /* margin: auto 0; */
}

.legend {
    /* background-color:pink; */
    display: flex;
    flex-direction: column;
    justify-content:center;
    /* gap: 1px; */
    /* align-items: space-between; */
    flex-grow: 1;

}

.legend p {
    display: flex;
    justify-content:space-between;
    /* gap:50px; */
}

.legend > p > span {
    font-weight: 600;
    font-size: 20px;
}